*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-image: url('/client/public/assets/images/waves.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -10%;

  @media (max-width: 768px) {
    background-position: 0;
  }
}
